.separator {
  background-color: var(--color-gray);
  padding: 0.5px !important;
}

.marginHeightNormal {
  margin: 0;
}

.marginHeightLarge {
  margin: 25px 0;
}

.marginHeightExtraLarge {
  margin: 50px 0;
}
