.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-grow: 1s;
  background-color: var(--color-gray-light);
  color: var(--color-white);
}
